
body{
    color: #ffffff;
    text-shadow: 0px 0px 2px black;
   font-family: "Happy Monkey", system-ui;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    background: linear-gradient(#a2d2ff,#efb0c9);
}

#pic{
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
}

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bd-txt{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin:5px 0 10px 0;

}

.gift-section{
    margin-top: 50px;
}

.gft-h{
    margin-top: 45px;
    margin-bottom: 10px;
}
.gft-l{
    margin-top: 0px;
}
.gft-img{
    width: 400px;
    height:400px;
    margin: 0 auto;
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(images/gift-cover.jpg);
}

#gf1:hover{
    background-image: url(images/happy.gif);
}
#gf2:hover{
    background-image: url(images/hot.gif);
}
#gf3:hover{
    background-image: url(images/genius.gif);
}
#gf4:hover{
    background-image: url(images/badass.gif);
}

#gf5{
    height: 200px;
}

#gf5:hover{
    background-image: url(images/cheers.gif);
}